Package: timebeat
Version: 2.2.20
License: See-LICENSE.txt
Vendor: Timebeat.app Ltd
Architecture: amd64
Maintainer: <@8889e055ff7e>
Installed-Size: 131056
Section: default
Priority: extra
Homepage: https://support.timebeat.app/
Description: PTP / NTP clock synchronisation system
